# Part-3

# Import lib to upload csv and json files

In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

# Section 0: to read csv file

In [2]:
curr_csv = pd.read_csv('C:\\Users\\ujjwa\\Downloads\\Part-3\\pr.data.0.Current.csv')
print(curr_csv)

       series_id          year period         value footnote_codes
0      PRS30006011        1995    Q01         2.600            NaN
1      PRS30006011        1995    Q02         2.100            NaN
2      PRS30006011        1995    Q03         0.900            NaN
3      PRS30006011        1995    Q04         0.100            NaN
4      PRS30006011        1995    Q05         1.400            NaN
...                  ...   ...    ...           ...            ...
33634  PRS88003203        2021    Q03       115.147            NaN
33635  PRS88003203        2021    Q04       118.715            NaN
33636  PRS88003203        2021    Q05       114.729            NaN
33637  PRS88003203        2022    Q01       122.739            NaN
33638  PRS88003203        2022    Q02       125.064            NaN

[33639 rows x 5 columns]

# Removig the whitespaces from series_id & value columns

In [3]:
curr_csv.rename(columns = {'series_id        ':'series_id', '       value':'value'}, inplace = True)
print(curr_csv)

               series_id  year period    value footnote_codes
0      PRS30006011        1995    Q01    2.600            NaN
1      PRS30006011        1995    Q02    2.100            NaN
2      PRS30006011        1995    Q03    0.900            NaN
3      PRS30006011        1995    Q04    0.100            NaN
4      PRS30006011        1995    Q05    1.400            NaN
...                  ...   ...    ...      ...            ...
33634  PRS88003203        2021    Q03  115.147            NaN
33635  PRS88003203        2021    Q04  118.715            NaN
33636  PRS88003203        2021    Q05  114.729            NaN
33637  PRS88003203        2022    Q01  122.739            NaN
33638  PRS88003203        2022    Q02  125.064            NaN

[33639 rows x 5 columns]

# Section 0: to read json file

In [4]:
with open ('C:\\Users\\ujjwa\\Downloads\\Part-3\\population.json', ) as file:
    data = json.load(file)

In [5]:
# normalizing the json file for reading
population_json = pd.json_normalize(data, record_path=['data'])

In [6]:
# renaming the year column for easy access
population_json.rename(columns = {'ID Year':'year'}, inplace = True)

In [7]:
# printing the data of json file
print(population_json)

  ID Nation         Nation  year  Year  Population    Slug Nation
0   01000US  United States  2020  2020   326569308  united-states
1   01000US  United States  2019  2019   324697795  united-states
2   01000US  United States  2018  2018   322903030  united-states
3   01000US  United States  2017  2017   321004407  united-states
4   01000US  United States  2016  2016   318558162  united-states
5   01000US  United States  2015  2015   316515021  united-states
6   01000US  United States  2014  2014   314107084  united-states
7   01000US  United States  2013  2013   311536594  united-states

# Section 1: filter the year from 2013 to 2018 inclusive

In [8]:
fil_year = (population_json['year'] >= 2013) & (population_json['year'] <= 2018)

# Section 1:  generate the mean of the US population across the years [2013, 2018] inclusive

In [9]:
population_mean = population_json.loc[fil_year,'Population'].mean()
print("\n mean of the US population across the years [2013, 2018] inclusive:", population_mean)

 mean of the US population across the years [2013, 2018] inclusive: 317437383.0

# Section 1:  generate the standard deviation of the US population across the years [2013, 2018] inclusive

In [10]:
population_stddev = population_json.loc[fil_year,'Population'].std()
print("\n standard deviation of the US population across the years [2013, 2018] inclusive:", population_stddev)

 standard deviation of the US population across the years [2013, 2018] inclusive: 4257089.5415293295

# Section 2:  For every series_id, find the best year

In [11]:
# create a new dataframe to groupby series_id & year to get the value
ser_yr_df = curr_csv.sort_values(by=['series_id', 'year'], ascending=True)

In [12]:
""" Part_3-Section_2:  For every series_id, find the best year : 
      (i)  the year with the max/largest sum of "value" for all quarters in that year """

# sum of the value for each year

year_value = ser_yr_df.groupby(['series_id', 'year'], as_index=False)['value'].sum()
print('\n sum of the value for each year')
print(year_value)

 sum of the value for each year
              series_id  year    value
0     PRS30006011        1995    7.100
1     PRS30006011        1996   -0.500
2     PRS30006011        1997    4.400
3     PRS30006011        1998    4.200
4     PRS30006011        1999   -7.700
...                 ...   ...      ...
7801  PRS88003203        2018  551.651
7802  PRS88003203        2019  564.407
7803  PRS88003203        2020  563.117
7804  PRS88003203        2021  573.658
7805  PRS88003203        2022  247.803

[7806 rows x 3 columns]

In [13]:
# finding the max value of each series_id by best year
max_Value = year_value.loc[year_value.groupby('series_id')['value'].idxmax()]
print('\n finding the max value of each series_id by best year ')
print(max_Value)

 finding the max value of each series_id by best year
              series_id  year    value
17    PRS30006011        2012    9.500
54    PRS30006012        2021   13.100
59    PRS30006013        1998  733.290
99    PRS30006021        2010   14.200
127   PRS30006022        2010   11.100
...                 ...   ...      ...
7673  PRS88003192        2002  285.200
7720  PRS88003193        2021  620.416
7734  PRS88003201        2007   21.700
7776  PRS88003202        2021   26.500
7804  PRS88003203        2021  573.658

[282 rows x 3 columns]

# Final output after reset the index value

In [14]:
# reset the index value
max_Value = max_Value.reset_index(drop=True)
print("\n out put in ascending order")
print(max_Value)

 out put in ascending order
             series_id  year    value
0    PRS30006011        2012    9.500
1    PRS30006012        2021   13.100
2    PRS30006013        1998  733.290
3    PRS30006021        2010   14.200
4    PRS30006022        2010   11.100
..                 ...   ...      ...
277  PRS88003192        2002  285.200
278  PRS88003193        2021  620.416
279  PRS88003201        2007   21.700
280  PRS88003202        2021   26.500
281  PRS88003203        2021  573.658

[282 rows x 3 columns]

# Section 3:  Merge both dataframes of part-1 and part-2

In [15]:
merge_df = curr_csv.merge(population_json, on ='year')
print("\n Merge data of part-1 and part-2")
print(merge_df)

 Merge data of part-1 and part-2
              series_id  year period    value footnote_codes ID Nation  \
0     PRS30006011        2013    Q01    1.300            NaN   01000US
1     PRS30006011        2013    Q02    0.200            NaN   01000US
2     PRS30006011        2013    Q03    0.200            NaN   01000US
3     PRS30006011        2013    Q04    0.700            NaN   01000US
4     PRS30006011        2013    Q05    0.600            NaN   01000US
...                 ...   ...    ...      ...            ...       ...
9835  PRS88003203        2020    Q01  115.041            NaN   01000US
9836  PRS88003203        2020    Q02  113.124            NaN   01000US
9837  PRS88003203        2020    Q03  110.307            NaN   01000US
9838  PRS88003203        2020    Q04  112.010            NaN   01000US
9839  PRS88003203        2020    Q05  112.635            NaN   01000US

             Nation  Year  Population    Slug Nation
0     United States  2013   311536594  united-states
1     United States  2013   311536594  united-states
2     United States  2013   311536594  united-states
3     United States  2013   311536594  united-states
4     United States  2013   311536594  united-states
...             ...   ...         ...            ...
9835  United States  2020   326569308  united-states
9836  United States  2020   326569308  united-states
9837  United States  2020   326569308  united-states
9838  United States  2020   326569308  united-states
9839  United States  2020   326569308  united-states

[9840 rows x 10 columns]

In [16]:
# removing/ trimming the whitespace afte merging the data
merge_df['series_id'] = merge_df['series_id'].str.strip()

In [17]:
# drop the optional columns
merge_df.drop(['footnote_codes', 'ID Nation', 'Nation', 'Year', 'Slug Nation'], axis=1, inplace=True)
print("\n data with necessary columns")
print(merge_df)

 data with necessary columns
        series_id  year period    value  Population
0     PRS30006011  2013    Q01    1.300   311536594
1     PRS30006011  2013    Q02    0.200   311536594
2     PRS30006011  2013    Q03    0.200   311536594
3     PRS30006011  2013    Q04    0.700   311536594
4     PRS30006011  2013    Q05    0.600   311536594
...           ...   ...    ...      ...         ...
9835  PRS88003203  2020    Q01  115.041   326569308
9836  PRS88003203  2020    Q02  113.124   326569308
9837  PRS88003203  2020    Q03  110.307   326569308
9838  PRS88003203  2020    Q04  112.010   326569308
9839  PRS88003203  2020    Q05  112.635   326569308

[9840 rows x 5 columns]

# Filter the value for the given series_id , year , period and population

In [18]:
output_df = merge_df.loc[(merge_df['series_id'] == 'PRS30006032') & (merge_df['year'] == 2018) & (merge_df['period'] == 'Q01')]
print(" \n Output :")
print(output_df)

 Output :
        series_id  year period  value  Population
6185  PRS30006032  2018    Q01    1.7   322903030

# Reset the index value for final result

In [19]:
output_df = output_df.reset_index(drop=True)
print(" \n final result : ")
print(output_df)

 final result :
     series_id  year period  value  Population
0  PRS30006032  2018    Q01    1.7   322903030